<section>
    <div class="footer-wrapper">
        <div class="site-content">
            <div class="container">
                <div class="row">
                    <div class="block col-md-5 col-sm-6">
                        <h1 class="equipos">Fonos: (+569) 9 321 99 27 - (02) 2 201 75 98</h1>
                    </div>
                    <div class="block col-md-1 col-sm-6">
                    </div>
                    <div class="block col-md-2">
                    </div>
                    <div class="block col-md-4 equipos">
                        <h1 class="equipos">E-mail : arriendos@roveral.cl</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>