<section>
    <div class="header-wrapper">
        <div class="site-name">
            <img class="img-header" src="https://cdn.loadingplay.com/static/images/f73b1ec570f1fc94c4303d2cf94579a0_.png">
        </div>
    </div>
    <div class="menu">
        <div class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fw-icon-th-list"></i>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="col-md-12 nav navbar-nav">
                        <li class="col-md-3"><a class="button" href="#about">MAQUINARIAS</a></li>
                        <li class="col-md-3"><a class="button" href="#services">QUIENES SOMOS</a></li>
                        <li class="col-md-3"><a class="button" href="#clients">CLIENTES</a></li>
                        <li class="col-md-3"><a class="button" href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mini-menu">
            <label>
                <select class="selectnav">
                    <option value="#" selected="">Home</option>
                    <option value="#">MAQUINARIAS</option>
                    <option value="#">→ Another action</option>
                    <option value="#">→ Something else here</option>
                    <option value="#">→ Another action</option>
                    <option value="#">→ Something else here</option>
                    <option value="#">QUIENES SOMOS</option>
                    <option value="#">CLIENTES</option>
                </select>
            </label>
        </div>
    </div>
</section>
