<section>
  <div class="header-wrapper">
      <div class="site-name">
        <h1>ROVERAL</h1>
        <h2>Arriendo de maquinaria pesada</h2>
      </div>
    </div>
    <div class="menu">
      <div class="navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="fw-icon-th-list"></i>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a class="button" href="#">Home</a></li>
              <li><a class="button" href="#about">MAQUINARIAS</a></li>
              <li><a class="button" href="#services">QUIENES SOMOS</a></li>
              <li><a class="button" href="#solutions">OBRAS REALIZADAS</a></li>
              <li><a class="button" href="#clients">CLIENTES</a></li>
              <li><a class="button" href="#">Contact</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </div>
      <div class="mini-menu">
            <label>
          <select class="selectnav">
            <option value="#" selected="">Home</option>
            <option value="#">MAQUINARIAS</option>
            <option value="#">→ Another action</option>
            <option value="#">→ Something else here</option>
            <option value="#">→ Another action</option>
            <option value="#">→ Something else here</option>
            <option value="#">QUIENES SOMOS</option>
            <option value="#">OBRAS REALIZADAS</option>
            <option value="#">CLIENTES</option>
          </select>
          </label>
          </div>
    </div>
</section>