{% extends "../base.html" %}

{% block title %}
    {{ site.name }}
{% end %}

{% block header %}
    {% include '../home/header.html' %}
{% end %}

{% block css %}
{% end %}

{% block javascript %}
{% end %}

{% block body %}
    {% if is_admin %}
        {% set editabletext = 'editabletext' %}
    {% else %}
        {% set editabletext = '' %}
    {% end %}

    <section>
        <div class="banner">
            <div id="carousel-example-generic" class="carousel slide">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="imagen-fondo" src="https://cdn.loadingplay.com/static/images/a2e0e9302d519517a789b04633d7a793_.png" alt="">
                    </div>
                    <div class="item">
                        <img class="imagen-fondo" src="https://cdn.loadingplay.com/static/images/7c602863a67f143bbf8b7b43518a8e03_.png" alt="">
                    </div>
                    <div class="item">
                        <img class="imagen-fondo" src="https://cdn.loadingplay.com/static/images/c4825a3de155b4c98f5256c226ff0ea1_bobcatS.png" alt="">
                    </div>
                    <div class="item">
                        <img class="imagen-fondo" src="https://cdn.loadingplay.com/static/images/172b5e082ecee6caa8e026317a19e164_.png" alt="">
                    </div>
                    <div class="item">
                        <img class="imagen-fondo" src="https://cdn.loadingplay.com/static/images/c0524d91f513ff5ecda3486daead61db_.png" alt="">
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <i class="fa fa-chevron-left"></i>
            </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <i class="fa fa-chevron-right"></i>
            </a>
            </div>
        </div>
        <div class="container" id="about">
            <div class="block-title">
                <h1>Equipos y maquinarias</h1>
            </div>
            <div class="featured-block">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="block">
                            <div class="thumbnail">
                                <img src="https://cdn.loadingplay.com/static/images/a2e0e9302d519517a789b04633d7a793_.png" alt="" class="img-responsive">
                                <div class="caption">
                                    <h1>Excavadoras Komatsu PC-200</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block">
                            <div class="thumbnail">
                                <img src="https://cdn.loadingplay.com/static/images/c4825a3de155b4c98f5256c226ff0ea1_bobcatS.png" alt="" class="img-responsive">
                                <div class="caption">
                                    <h1>Minicargador Bobcat S150 y S650</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block">
                            <div class="thumbnail">
                                <img src="https://cdn.loadingplay.com/static/images/7c602863a67f143bbf8b7b43518a8e03_.png" alt="" class="img-responsive">
                                <div class="caption">
                                    <h1>Retroexcavadoras 4x4 John Deere</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block">
                            <div class="thumbnail">
                                <img src="https://cdn.loadingplay.com/static/images/172b5e082ecee6caa8e026317a19e164_.png" alt="" class="img-responsive">
                                <div class="caption">
                                    <h1>Camiones Aljibes: 10.000, 12.000 y 15.000 Lts. con sistema regado presurizado y sistema de gravedad</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ruler"></div>
        </div>
        <div class="container">
            <div class="featured-item" id="services">
                <div class="col-md-12">
                    <div class="block">
                        <div class="block-title">
                            <h1>Quienes Somos?</h1>
                        </div>
                        <ul>
                            <li class="col-md-12">
                                <img class="imagen-fondo img-about" src="https://cdn.loadingplay.com/static/images/c0524d91f513ff5ecda3486daead61db_.png" alt="">
                                <div class="user-info">
                                    <h4>ROVERAL LTDA, Empresa dedicada al arriendo de maquinaria pesada, con presencia en el mercado nacional desde el año 2003, fundada por Rosa Vergara Almuna, con el claro objetivo de entregar un servicio personalizado y de calidad en el rubro de la construcción. 

                                    Ofrecemos arriendo de maquinaria pesada además de equipos de última tecnología con personal calificado y con alto estándares de calidad acorde a las necesidades de nuestros clientes, lo que se traduce, en un alto grado de satisfacción y confianza por el servicio prestado.</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ruler"></div>
        </div>
        <div class="container">
            <div class="featured-content" id="clients">
                <div class="col-md-12 obras">
                    <div class="block-title">
                        <h1>Clientes</h1>
                    </div>
                </div>
                <div class="multiple-items">
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/8b37ea9dfc12df53af6349dc5badf307_precon.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/d317e58e7eb1c54483f0be68d02f4c52_melon.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/abc41462ee4ed1c6ad80196fe4e76231_novatec.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/35e128a4eb730b9c1ee06f85fb4371c0_fernandezwood.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/42c2a5a19796d7bb586458f2933a83b1_l.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/113d0411b33deecb0ea3210e68581f26_menayovalle.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/7fbb94f6a011ccb7d2e362d75492df5f_salfa.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/54c88a554d9f77a8dd0b7f0de4a74934_ebco.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/c659c8fb360595ce06af525eec04b889_manquehue.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/b20eff50b99cd9012e33daa8b7769378_logo_salfacorp.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/387e2b9417e80a05feb2de6e49688e2a_avellaneda.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/5a835dd9911446382c0de09af9795d95_cultiva.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/e80f49d71ecdfb6cf3525f98dfe8b52e_derco.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/3bdf63948e80dabf1e19314305e10501_inlac.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/7b188d41589c1f7b4e788a259c24c0b6_inarco.png">
                    </div>
                    <div class="col-md-3 div-cli">
                        <img class="img-clientes" src="https://cdn.loadingplay.com/static/images/45fa05994708729c998a5ba9cfa3bcf6_aconcagua.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include '../home/footer.html' %}
{% end %}
