<div class="modal fade" id="modal-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Minicargadores BOBCAT</h4>
            </div>
            <div class="modal-body">
                <img src="https://cdn.loadingplay.com/static/images/500_93267de0f8a083ecce82ab4a4816fe4f_Roveral.png" id="mainImage">
                <div class="img-container">
                    <img class="col-md-offset-1 col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_93267de0f8a083ecce82ab4a4816fe4f_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_9baf43373a2441658da7501e379b0415_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_2d81109beeefe6424cf41263a96f6ed0_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_ffd61c42950afffabff099f8d7677d98_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_eda0eee1b8293ae5a80f5b685c2a6fa6_Roveral.png">
                </div>
                <div class="modal-desc">
                    <h3 class="color-modal">Descripcion de la maquinaria</h3>
                    <p class="color-modal">La cargadora compacta Bobcat® es una opción muy conocida para trabajos de movimientos de tierra. La trayectoria curva de elevación le proporciona el alcance y visibilidad que necesita para descargar sobre muros, terraplenar o cargar camiones de plataforma.</p>
                    <h4 class="color-modal">Tipos de maquinaria</h4>
                    <p class="color-modal">MINICARGADOR MARCA BOBCAT, MODELO S510, AÑO 2017, CARGA 750 KILOS.</p>
                    <p class="color-modal">MINICARGADOR MARCA BOBCAT, MODELO S530, AÑO 2018. CARGA 850 KILOS.</p>
                    <p class="color-modal">MINICARGADOR MARCA BOBCAT, MODELO S650, AÑO 2018, CARGA 1.220 KILOS.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Retroexcavadoras 4x4 John Deere</h4>
            </div>
            <div class="modal-body">
                <img src="https://cdn.loadingplay.com/static/images/500_b16d51f7355bce94fb7e570d308c7d4c_Roveral.png" id="mainImage" class="main-2">
                <div class="img-container img-2">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_b16d51f7355bce94fb7e570d308c7d4c_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_6f5797d759cfb03e69ba915f5160521e_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_094df5581969a86bee235ecc4977a052_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_4d7354a2ac9063c052f9cbd518d459b8_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_d049bef2b75de27d63cb842937cfaf35_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_995f1e099bb59155352b9b876de9c8a4_Roveral.png">
                </div>
                <div class="modal-desc">
                    <h3 class="color-modal">Descripcion de la maquinaria</h3>
                    <p class="color-modal">Desde el capó abatible de dos posiciones que ofrece un práctico acceso para realizar tareas de mantenimiento hasta los enfriadores inclinados hacia fuera que se abren en los núcleos, las retroexcavadoras John Deere ofrecen características que simplifican todo, desde el mantenimiento hasta la operación.</p>
                    <h4 class="color-modal">Tipos de maquinaria</h4>
                    <p class="color-modal">MODELO 310K, AÑOS 2012, 2016.</p>
                    <p class="color-modal">MODELO 310J, AÑOS 2011.</p>
                    <p class="color-modal">MODELO 310L, AÑOS 2018.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-3" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Camiones Aljibes: 10.000, 12.000 y 15.000 Lts.</h4>
            </div>
            <div class="modal-body">
                <img src="https://cdn.loadingplay.com/static/images/500_98a8690920d2a976a2a328e89840e2b0_Roveral.png" id="mainImage" class="main-3">
                <div class="img-container img-3">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_98a8690920d2a976a2a328e89840e2b0_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_c7df7aab20262407da7a0160d926bd61_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_6c510419a3b444e77058b7588b08d5f7_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_f28f74ef5a05fb9f4502d7e767d79cd9_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_74a8bb1372c96112acc4e79ed60bd532_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_0f9bb3c51a03f96a29455c51853e4f72_Roveral.png">
                </div>
                <div class="modal-desc">
                    <h3 class="color-modal">Descripcion de la maquinaria</h3>
                    <p class="color-modal">Camiones aljibe con capacidad para transportar y utilzar 10.000 litros y 15.000 litros, con sistema presurizado, el transporte de agua industrial y el lavado de calles es mas eficiente.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-4" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Accesorios Minicargadores BOBCAT</h4>
            </div>
            <div class="modal-body">
                <img src="https://cdn.loadingplay.com/static/images/500_9f35fbfee90b353390d681d792205587_Roveral.png" id="mainImage" class="main-4">
                <div class="img-container img-4">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_9f35fbfee90b353390d681d792205587_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_986fda59dbab401cf33c0abed4052dc2_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_c8c91e92a439638ec82b4ac3d6a4bb4e_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_04c1910ec985420282b62b3680481546_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_bf340fe0bb579e3a9c04d75f8f0bdaa6_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_efd43b0682b975997b33e93494b48894_Roveral.png">
                    <img class="col-md-offset-4 col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_fcc2ee4d15353fa587a6b5ad9213e0b3_Roveral.png">
                    <img class="col-md-2 img-little" src="https://cdn.loadingplay.com/static/images/500_c95b7853476f5db125c944dc809b4d8f_Roveral.png">
                </div>
                <div class="modal-desc-2">
                    <h3 class="color-modal">Descripcion de la maquinaria</h3>
                    <p class="color-modal">Los accesorios adicionales para instalar en los minicargadores BOBCAT son: El barazo excabador (AGUILON) y la horquilla.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
