<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- head bt inicio -->
        <title>Roveral - Arriendo de maquinaria pesada</title>
        <base href="{{ site_base }}/">
        <meta charset="utf-8">
        <meta name="author" content="loadingplay.com">
        <meta name="viewport" content="width=430px, user-scalable=no" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ site_base }}common/js/bower/bodegas.client/dist/bodegas.client.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ site_base }}/common/css/editableimage.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/css/normalize.css">
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/css/component.css">
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/css/custom-styles.css">
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/css/demo.css">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site_base }}/{{ nocache_static }}/img/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site_base }}/{{ nocache_static }}/img/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site_base }}/{{ nocache_static }}/img/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site_base }}/{{ nocache_static }}/img/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site_base }}/{{ nocache_static }}/img/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site_base }}/{{ nocache_static }}/img/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site_base }}/{{ nocache_static }}/img/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site_base }}/{{ nocache_static }}/img/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="{{ site_base }}/{{ nocache_static }}/img/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="{{ site_base }}/{{ nocache_static }}/img/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{ site_base }}/{{ nocache_static }}/img/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ site_base }}/{{ nocache_static }}/img/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="{{ site_base }}/{{ nocache_static }}/img/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{ nocache_static }}/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

        <link rel="stylesheet" href="{{ site_base }}/common/css/editableimage.css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="{{ site_base }}/common/js/bower/file_uploader/dist/fileuploader.css">
        {% block css %}{% end %}

        {% if is_admin %}
        {% set editabletext = 'editabletext' %}
        {% else %}
        {% set editabletext = '' %}
        {% end %}

    </head>

        {% block header %}{% end %}

        {% block body %}
        <body id="home">
        {% end %}

        <!-- gif loading editableimage -->
        <img id="imgLOAD" width="50" height="50" src="{{ site_base }}/common/css/loading.gif" />

        <script type="text/javascript">
        var site_base = "{{ site_base }}"
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script src="{{ site_base }}/{{ nocache_static }}/js/html5shiv.js"></script>
        <script src="{{ site_base }}/{{ nocache_static }}/js/respond.min.js"></script>
        
<!--    <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/mlb.js"></script>

        <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/me.js" ></script> -->

          <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>

        <!-- <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/main.js"></script> -->

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{{ site_base }}/common/js/jquery.editable.js" ></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/editabletext.js"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/editablelink.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <!-- {%!  end %} -->
        <script type="text/javascript" src="{{ site_base }}/common/js/page_editable.js"></script>

        <script type="text/javascript" src="{{ site_base }}/common/js/editableimage.js"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/bower/file_uploader/dist/fileuploader.js"></script>

        <script type="text/javascript" src="{{ site_base }}/common/js/bower/file_uploader/dist/fileuploader.min.js"></script>

        <script type="text/javascript" src="{{ site_base }}/common/js/bower/jquery.cookie/jquery.cookie.js"></script>

        <script type="text/javascript" src="{{ site_base }}/common/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ site_base }}common/js/bower/bodegas.client/dist/bodegas.client.js"></script>

         <script type="text/javascript" src="{{ site_base }}/common/js/parallax.min.js"></script>

        <script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

        <script type="text/javascript" src="{{ site_base }}/common/js/environment.detection.js"></script>

        {% block javascript %}{% end %}
        <script type="text/javascript">
            $(document).ready(function()
            {
              $(".button").click(function(e)
              {
                e.preventDefault();
                $('html, body').animate({
                  scrollTop: $($.attr(this, 'href')).offset().top
                }, 1000);
              });
                $('.multiple-items').slick({
                    infinite: true,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 3000,
                    centerMode: true,
                    centerPadding: '100px',
                    slidesToShow: 3,
                    responsive: [
                        {
                            breakpoint: 768,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '40px',
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '40px',
                                slidesToShow: 1
                            }
                        }
                    ]
                });
            });

            var mainImage = $("#mainImage");

            $(".img-container img").click(function()
            {
                var src = $(this).attr("src");
                $("#mainImage").attr("src", src);
            });

            mainImage.on("click", function()
            {
                $(this).css("transform", "scale(1.1)");
            });

            var mainImage2 = $(".main-2");

            $(".img-2 img").click(function()
            {
                var src = $(this).attr("src");
                $(".main-2").attr("src", src);
            });

            var mainImage3 = $(".main-3");

            $(".img-3 img").click(function()
            {
                var src = $(this).attr("src");
                $(".main-3").attr("src", src);
            });

            var mainImage4 = $(".main-4");

            $(".img-4 img").click(function()
            {
                var src = $(this).attr("src");
                $(".main-4").attr("src", src);
            });

            mainImage.on("click", function()
            {
                $(this).css("transform", "scale(1.1)");
            });
        </script>

        {% if is_admin %}
        <script type="text/javascript">
        var site_name="{{site.name}}";
        </script>
        <script type="text/javascript" src="{{ site_base }}/common/js/contentmanager.js" ></script>

        {% end %}

    </body>
</html>
